<html>
<head>
  <title>Sitefig - your site sorted</title>
  <style>
  body{
    background:#fff url('/img/sitefig-logo.png') 50% no-repeat;
  }
  </style>
</head>
<body>
  <!-- // Sitefig -->
</body>
</html>